@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'); 
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* navbar starts */

.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: black;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    height: 150px;
    width: 150px;
}

.brand-title img {
    height: 100%;
    width: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    list-style-type: none;
    font-weight: 700;
   
}

.navbar-links ul li a:hover {
    color: #008248;
    cursor: pointer;
}



.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #008248;
    border-radius: 10px;
}

/* navbar ends */

/* Hero section starts */

.heroSection {
    display: flex;
    height: 450px;
}
.heroSection .left-heroSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
}

.heroSection .left-heroSection h1 {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    margin-bottom: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008248;
}

.heroSection .left-heroSection p {
    font-size: 30px;
    color: #757384;
}

.heroSection .left-heroSection button {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: 600;
    color: #008248;
    margin-right: 16px;
    cursor: pointer;
    transition: all .4s ease;
}

.heroSection .left-heroSection button:hover {
    background-color: rgba(0,0,0,.06);
}

.heroSection .right-heroSection {
    display: flex;
}

.heroSection .right-heroSection img {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    border-radius: 50px;
    
}




@media (max-width:400px)
{
    .brand-title {
        height: 220px;
        width: 200px;
        padding: 40px 20px;
        margin-left: 90px;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start   
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a{
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

}

